.view-display-id-blog_overview {
  .ds-2col-stacked-fluid > .group-left {
    width: 30%;
  }

  .ds-2col-stacked-fluid > .group-right {
    width: 70%;
  }

  .group-right > .field--name-body {
    margin-bottom: 20px;
  }
}