footer.footer {
  border: none;
}

.footer-top {
  background-color: $color__background-footer-top;
  color: #fff;
}

.footer {
  background-color: $color__background-footer-bottom;
  color: #fff;
  margin-top: 0;
}