body {
  background-color: $color__background-body;
  margin-top: 0;

  a {
    color: $color__link_color;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-stretch: normal;
    line-height: 1em;;
    transition: 0.4s ease-in;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    color: #fff;
    text-decoration: none;
  }
}

.content-full-width {
  padding: 1px 0;
}

h1.page-header {
  margin-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  font: 700 30px/1.43 'Montserrat', sans-serif;
  border-bottom: none;

  &:before {
    content: '';
    position: absolute;
    top: 60px;
    left: 50%;
    width: 65px;
    height: 2px;
    background: #f9b707;
    transform: translate(-50%,0);
  }
}

.page-node-type-service {
  section.col-sm-12 {
    margin-bottom: 60px;

    p {
      color: #888;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
    }
  }

  .group-left {
    padding-right: 30px;
  }

  .group-right {
    padding-left: 30px;
  }
}