.content-top {
  background-color: lime;
  margin-bottom: 0;
}

.content-bottom {
  background-color: yellow;
  margin-bottom: 0;
}

.content-full-width {
  background-color: pink;
  margin-bottom: 0;
}