.tm-follow-link-wrapper {
  float: left;
  padding: 5px 0;
}

a.tm-follow-link {
  display: inline-block;
  font-size: 24px;
  padding: 5px 5px 5px 10px;
}

a.tm-follow-link:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

a.tm-follow-link-this-site:before {
  content: "\f09e";
}

a.tm-follow-link-facebook:before {
  content: "\f09a";
}

a.tm-follow-link-googleplus:before {
  content: "\f0d5";
}

a.tm-follow-link-linkedin:before {
  content: "\f0e1";
}

a.tm-follow-link-pinterest:before {
  content: "\f0d2";
}

a.tm-follow-link-twitter:before {
  content: "\f099";
}

.invert {
  a{
    color: #fff;
    transition: 0.2s ease-in;
  }

  a:hover,
  a:focus,
  a:active {
    color: $color__link_color;
  }
}