/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';
$color__background-body:   #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr:     #ECECEE;
$color__background-input:  #f8f8f8;
$color__background-pre:    #eee;
$color__background-header-top: #272727;
$color__background-header-menu: #333;
$color__background-footer-top: #333;
$color__background-footer-bottom: #272727;

$color__white: #ffffff;
$color__dark: #000000;

$color__bg-preloader-cover: #ffffff;

$color__text-screen: #21759b;
$color__text-main: #333;
$color__text-input:  #666;

$color__not-valid: #FF596D;
$color__valid:     #2FD3AE;

$color__link_color: #f9b707;